.App-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 10rem;
};

#root{
  background-color: #424242;
  height: 100vh;
}
.App {
  text-align: center;
}

.tab-bar .active {
  color: red;
}